<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Essen</title>
  </head>
  <body>
    <section class="section__one">
      <%= image_tag 'logo-bw', class: 'logo-bw'%>
      <%= image_tag 'text1', class: 'section__one__img'%>
      <%= image_tag 'text2', class: 'section__one__img__2'%>
      <p>Сборник кулинарных рецептов с&nbsp;гибкой заменой ингредиентов</p>
      <a href="#">Перейти</a>
      <div class="section__one__div">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </section>

    <section class="section__two">
      <h2>Essen&nbsp;&mdash; кулинарная книга, подстраивающая ингредиенты под ваши требования выбора еды. Главное отличие от&nbsp;кулинарного сайта&nbsp;&mdash; мы&nbsp;предлагаем <span>гибкую замену ингредиентов</span> в&nbsp;рецепте.</h2>
    </section>

    <section class="section__three">
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <h1>Essen cоздан чтобы помогать вам!</h1>
      <%= image_tag 'shape-star', class: 'section__three__img'%>
    </section>

    <section class="section__four">
      <div class="section__four__one">
        <h2>Заменяйте ингредиенты в&nbsp;рецептах под ваши предпочтения</h2>
      </div>

      <div class="section__four__two">
        <h2>Выбирайте из&nbsp;рецептов, подобранных под&nbsp;вас</h2>
      </div>

      <div class="section__four__three">
        <h2>Экономьте время на&nbsp;поиске рецепта с&nbsp;заменой продуктов</h2>
      </div>

      <div class="section__four__four">
        <h2>Сохраняйте рецепты в&nbsp;индивидуа&shy;льные подборки</h2>
      </div>
    </section>

    <section class="section__five">
      <div class="section__five__div">
        <%= image_tag 'shape-inverse', class: 'section__five__div__img'%>
      </div>
      <div class="section__five__h2">    
        <h2>Когда сервис поможет?</h2>
        <h2>При отсутствии некоторых ингредиентов дома</h2>
        <h2>Если ингредиент не&nbsp;соответствует вашим этическим, идеологическим требованиям</h2>
        <h2>Когда не&nbsp;хочется выходить в&nbsp;магазин за&nbsp;покупкой продуктов</h2>
        <h2>Во&nbsp;время необходимости приготовления опредленного рецепта</h2>
        <h2>Решить чем&nbsp;же поужинать сегодня</h2>
        <h2>Вместе с&nbsp;друзьями выбрать блюдо, понравившееся всем</h2>
      </div>
    </section>

    <section class="section__six">
      <h1>Вам не&nbsp;стоит беспокоиться за&nbsp;качество блюд</h1>
      <p>Все рецепты и&nbsp;замены мы&nbsp;составили и&nbsp;подобрали вместе с&nbsp;кулинарными технологами</p>
      <%= image_tag 'plate-purple', class: 'section__six__img'%>
    </section>

    <section class="section__seven">
      <h1>Вы&nbsp;являетесь владельцем заведения?</h1>
      <p>Сделаем так, чтобы о&nbsp;вашем ресторане или кафе узнало еще больше людей, которые будут готовить по&nbsp;вашим рецептам!</p>
      <%= image_tag 'photo-star', class: 'section__seven__img'%>
      <%= link_to "Подробнее", partners_index_path %>
    </section>

    <section class="section__eight">
      <h2>Вам осталось только приготовить, остальное мы&nbsp;уже продумали за&nbsp;вас!</h2>
      <a href="#">Перейти</a>
    </section>

    <section class="section__nine">
      <%= image_tag 'logo-color', class: 'section__nine__img'%>
      <p>Сборник кулинарных рецептов с&nbsp;гибкой заменой ингредиентов</p>
      <div class="section__nine__a">
        <a href="#">О сервисе</a>
        <a href="#">Партнерам</a>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
      </div>
    </section>
  </body>
</html>
