<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Стайлгайд</title>
  </head>
  <body>
    <section class="conception">
      <div class="conception__div">
        <h1>Концепция</h1>
        <p>Основной метафорой айдентики выступает замена. Как ингредиенты&nbsp;заменяются в&nbsp;рецепте, так и&nbsp;глифы заменяются в&nbsp;словах. В&nbsp;качестве дополнительной графики используются простые геометрические фигуры, олицетворяющие нарезанные продукты.</p>

      </div>
    </section>

    <section class="logo">
      <div class="logo__one">
        <h1>Логотип</h1>
        <p>Логотип отражает основную метафору айдентики&nbsp;&mdash; замену</p>

        <h3>Основной логотип</h3>
        <%= image_tag 'essen__logo__big-small', class: 'essen__logo__big-small'%>

        <h3>Монохромный вариант</h3>
        <%= image_tag 'essen__logo__black__v1', class: 'essen__logo__black__v1'%>

        <h3>Вариации логотипа</h3>
        <%= image_tag 'essen__logo__black__v2__v3', class: 'essen__logo__black__v2__v3'%>
        </div>

        <div class="logo__two">
          <p>Вариативный логотип используется на&nbsp;нескольких рядом стоящих носителях или повторяется на&nbsp;одном носителе несколько раз как паттерн. Например, вывеска серии афиш на&nbsp;стене.</p>
          <div class="essen__logo__tile__div">
            <%= image_tag 'essen__logo__tile__one', class: 'essen__logo__tile'%>
            <%= image_tag 'essen__logo__tile__two', class: 'essen__logo__tile'%>
            <%= image_tag 'essen__logo__tile__three', class: 'essen__logo__tile'%>
            <%= image_tag 'essen__logo__tile__four', class: 'essen__logo__tile'%>
            <%= image_tag 'essen__logo__tile__five', class: 'essen__logo__tile'%>
            <%= image_tag 'essen__logo__tile__six', class: 'essen__logo__tile'%>

          </div>
      </div>

      <div class="logo__three">
        <h3>Охранное поле</h3>
        <%= image_tag 'essen__logo__blueprint', class: 'essen__logo__blueprint'%>

        <h3>Как делать нельзя</h3>

        <p>1. Наклонять и поворачивать<br>
          2. Сжимать и растягивать <br>
          3. Красить логотип в&nbsp;другие цвета или заливать его градиентом <br>
          4. Использовать фон, на&nbsp;котором логотип теряется, выглядит нечётко и&nbsp;сливается<br>
        </p>

          <!-- <ol>
            <li>Наклонять и поворачивать</li>
            <li>Сжимать и растягивать</li>
            <li>Красить логотип в&nbsp;другие цвета или заливать его градиентом</li>
            <li>Использовать фон, на&nbsp;котором логотип теряется, выглядит нечётко и&nbsp;сливается</li>
          </ol> -->

      </div>

      <div class="logo__four">
        <%= image_tag 'essen__logo__wrong__one', class: 'essen__logo__wrong'%>
        <%= image_tag 'essen__logo__wrong__two', class: 'essen__logo__wrong'%>
        <%= image_tag 'essen__logo__wrong__three', class: 'essen__logo__wrong'%>
        <%= image_tag 'essen__logo__wrong__four', class: 'essen__logo__wrong'%>
      </div>
    </section>

    <section class="colors">
      <div class="colors__one">
        <h1>Цвета</h1>
        <p>Все цвета взяты из ингредиентов</p>
      </div>

      <div class="colors__two">
        <div class="color__tile__one">
          <h1>VANILLA WHITE</h1>
          <p>#F8F5E8<br>0%, 1%, 6%, 3%</p>
        </div>
        <div class="color__tile__two">
          <h1>BLACK TEA</h1>
          <p>#272727<br>0%, 0%, 0%, 85%</p>
        </div>
        <div class="color__tile__three">
          <h1>Sweet blackberries</h1>
          <p>#9897DE<br>32%, 32%, 0%, 13%</p>
        </div>
        <div class="color__tile__four">
          <h1>honey</h1>
          <p>#FECE30<br>0%, 19%, 81%, 0%</p>
        </div>
        <div class="color__tile__five">
          <h1>FRESH ORANGE</h1>
          <p>#FF6242<br>0%, 62%, 74%, 1%</p>
        </div>
        <div class="color__tile__six">
          <h1>aroma herbs</h1>
          <p>#4AB15E<br>58%, 0%, 47%, 31%</p>
        </div>
      </div>

      <div class="colors__three">
        <h3>Как делать нельзя</h3>
        <p>Использовать цвета с малой контрастностью</p>
      </div>

      <div class="colors__four">

        <div class="wrong__tile__orange">
          <%= image_tag 'essen__logo__wrong__green', class: 'essen__logo__wrong'%>
        </div>
        <div class="wrong__tile__purpule">
          <%= image_tag 'essen__logo__wrong__orange', class: 'essen__logo__wrong'%>
        </div>
        <div class="wrong__tile__orange">
          <%= image_tag 'essen__logo__wrong__purpule', class: 'essen__logo__wrong'%>
        </div>
        <div class="wrong__tile__green">
          <%= image_tag 'essen__logo__wrong__orange', class: 'essen__logo__wrong'%>
        </div>
        <div class="wrong__tile__purpule">
          <%= image_tag 'essen__logo__wrong__green', class: 'essen__logo__wrong'%>
        </div>
        <div class="wrong__tile__green">
          <%= image_tag 'essen__logo__wrong__purpule', class: 'essen__logo__wrong'%>
        </div>

        <%= image_tag 'cross', class: 'cross'%>
      </div>
    </section>

    <section class="composition">
      <div class="composition__one">
        <h1>Композиционные<br>схемы</h1>
        <p>Каждый носитель может содержать в себе только одну фигуру, она может быть как внутри носителя, так и выходить в обрез. Фигуры делятся на два типа: автономные и фоновые. Об этом далее в разделе <span>дополнительная графика</span>.</p>
        <%= image_tag 'essen__grid__blueprint', class: 'essen__grid__blueprint'%>
        <p class="description">margin = 1.5x logo letter</p>
      </div>

      <div class="composition__two">
        <h3>Наружная реклама</h3>
        <div class="outdoor__ad__box__one">
          <%= image_tag 'outdoor__ad__one', class: 'outdoor__ad'%>
          <%= image_tag 'outdoor__ad__two', class: 'outdoor__ad'%>
        </div>
        <p>Формат 4:5; используется 5-колончатая сетка</p>

        <div class="outdoor__ad__box__two">

          <div class="outdoor__ad__box__left">

            <%= image_tag 'outdoor__ad__three', class: 'outdoor__ad', id:'outdoor__ad__three'%>
            <p>Квадратный единичный постер с&nbsp;автономной фигурой: Формат&nbsp;1:1; 4-колончатая сетка</p>
          </div>

          <div class="outdoor__ad__box__right">
            <%= image_tag 'outdoor__ad__four', class: 'outdoor__ad'%>
            <p>Квадратный двойной постер с&nbsp;фоновой фигурой: Формат&nbsp;1:1; 5-колончатая сетка</p>
          </div>
        </div>
      </div>

      <div class="composition__three">
        <h3>Социальные сети</h3>
        <%= image_tag 'socialnetwork__one', class: 'socialnetwork__ad'%>
        <%= image_tag 'socialnetwork__two', class: 'socialnetwork__ad'%>
        <p>Формат 16:9. Используется 8-колончатая сетка</p>

        <div class="outdoor__ad__box">
          <%= image_tag 'socialnetwork__three', class: 'socialnetwork__ad'%>
          <%= image_tag 'socialnetwork__four', class: 'socialnetwork__ad'%>
        </div>

        <p>Instagram Stories</p>
      </div>
    </section>

    <section class="fonts">
      <div class="fonts__one">
        <h1>шрифты</h1>
        <h3>Как делать замену глифов?</h3>
        <p>1. Заменять не больше трех глифов в слове <br>2. Не заменять рядомстоящие символы</p>
        <!-- <ol>
          <li>Заменять не больше трех глифов в слове</li>
          <li>Не заменять рядомстоящие символы</li>
        </ol> -->
      </div>

      <div class="fonts__two">
        <div class="fonts__box__left">
          <h1>Inter<br>Medium</h1>
          <p>Используется как основное начертание</p>
        </div>
        <div class="fonts__box__right">
          <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz Аа Бб Вв Гг Дд Ее Ёё Жж Зз Ии Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ъъ Ыы Ьь Ээ Юю Яя 1 2 3 4 5 6 7 8 9 « » „ “ : ; ? ! @ # $ % & * ( )</p>
        </div>
      </div>

      <div class="fonts__three">
        <div class="fonts__box__left">
          <h1>BASE<br>&BLOOM</h1>
        </div>
        <div class="fonts__box__right">
          <p>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Ll Mm Nn Oo Pp Qq Rr Ss Tt Uu Vv Ww Xx Yy Zz Аа Бб Вв Гг Дд Ее Ёё Жж Зз Ии Кк Лл Мм Нн Оо Пп Рр Сс Тт Уу Фф Хх Цц Чч Шш Щщ Ъъ Ыы Ьь Ээ Юю Яя 1 2 3 4 5 6 7 8 9 « » „ “ : ; ? ! @ # $ % & * ( )</p>
        </div>

      </div>

      <div class="fonts__four">
        <div class="fonts__box__left">
          <h1>Glyph-<br>world<br>Mountain</h1>
          <p>Начертание может использоваться в&nbsp;замене кириллических глифов, идентичных по&nbsp;начертанию латинским символам</p>
        </div>
        <div class="fonts__box__right">
          <p class="fonts__lettres">A b c d e f g h i j K k L M N O P Q R S T U V W x y z « » „ “ : ; ? ! @ # $ % & * ( )</p>
        </div>
      </div>

      <div class="fonts__five">
        <div class="fonts__box__left">
          <h1>Glyph-<br>world<br>Meadow</h1>
          <p>Начертание может использоваться в&nbsp;замене кириллических глифов, идентичных по&nbsp;начертанию латинским символам</p>
        </div>
        <div class="fonts__box__right">
          <p class="fonts__lettres">A b c d e f g h i j K k L M N O P Q R S T U V W x y z « » „ “ : ; ? ! @ # $ % & * ( )</p>
        </div>
      </div>

      <div class="fonts__six">
        <div class="txt__big">
           <div class="txt__big__left">
             <p>Большой<br>текст<br>6.5х</p>
           </div>
           <div class="txt__big__right">
             <p>143px/<br>132px</p>
             <p>Трекинг –7.5%</p>
           </div>
        </div>

        <div class="txt__medium">
          <div class="txt__medium__left">
            <p>Средний текст<br>3х</p>
          </div>
          <div class="txt__medium__right">
            <p>66px/82px</p>
            <p>Трекинг –2%</p>
          </div>
        </div>

        <div class="txt__small">
          <div class="txt__small__left">
            <p>Мелкий текст<br>х</p>
          </div>
          <div class="txt__small__right">
            <p>22px/30px</p>
            <p>Трекинг –2%</p>
          </div>
        </div>
      </div>
    </section>

    <section class="graphics">
      <div class="graphics__one">
        <h1>Дополнительная<br>графика</h1>
        <p>Все фигуры подразделяются на&nbsp;два типа&nbsp;&mdash; автономные и&nbsp;фоновые. Первая группа может использоваться на&nbsp;носителях как самостоятельный объект, вписывающийся по&nbsp;композиционной сетке. Вторая группа фигур используется как фон носителя, являющаяся заливкой фрейма.</p>
        <p>Графика используется в&nbsp;опредленно заданных цветах, соответствующих исходным ингредиентам. Допустимые цвета для каждой фигуры в&nbsp;таблице ниже.</p>
      </div>

      <div class="graphics__two">
        <div class="">
          <%= image_tag 'outdoor__ad__three', class: 'outdoor__ad'%>
          <p>Пример использование автономных фигур</p>
        </div>
        <div class="">
          <%= image_tag 'outdoor__ad__four', class: 'outdoor__ad'%>
          <p>Пример использование фоновых фигур</p>
        </div>
      </div>

      <div class="graphics__three">
        <h1>Таблица допустимых<br>цветов для фигур</h1>
        <%= image_tag 'graphics__columns__color', class: 'graphics__columns__color'%>

        <p>Фоновые фигуры</p>
        <%= image_tag 'graphics__auto__rows', class: 'graphics__auto__rows'%>

        <p>Автономные фигуры</p>
        <%= image_tag 'graphics__back__rows', class: 'graphics__back__rows'%>
      </div>
    </section>

    <section class="photo">
      <div class="photo__one">
        <h1>Подбор фотографий</h1>
        <p>Фотографии должны быть сделаны с&nbsp;вертикального ракурса. Допускается отклонение максимум в&nbsp;30&deg;. Тарелка с&nbsp;едой должна вписываться в&nbsp;кадр, либо должна иметь пропорции &frac12; по&nbsp;отношению к&nbsp;еде в&nbsp;кадре. Шейпы могут являться контейнерами для фотографий.</p>

        <%= image_tag 'essen__photo__blueprint', class: 'essen__photo__blueprint'%>
        <p>Схема, иллюстрирующая ракурс съемки фотографий</p>
      </div>

      <div class="photo__two">
        <h3>Примеры подходящих фотографий</h3>
        <div class="">
          <%= image_tag 'photo__food__one', class: 'photo__food'%>
          <%= image_tag 'photo__food__two', class: 'photo__food'%>
          <%= image_tag 'photo__food__three', class: 'photo__food'%>
          <%= image_tag 'photo__food__four', class: 'photo__food'%>
          <%= image_tag 'photo__food__five', class: 'photo__food'%>
          <%= image_tag 'photo__food__six', class: 'photo__food'%>
          <%= image_tag 'photo__food__seven', class: 'photo__food'%>
          <%= image_tag 'photo__food__eight', class: 'photo__food'%>
        </div>
      </div>
    </section>

    <section class="section__nine">
      <%= image_tag 'logo-color', class: 'section__nine__img'%>
      <p>Сборник кулинарных рецептов с&nbsp;гибкой заменой ингредиентов</p>
      <div class="section__nine__a">
        <a href="#">О сервисе</a>
        <a href="#">Партнерам</a>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
      </div>
    </section>







  </body>
</html>
