<div class="header">
  <h1>Сборник кулинарных рецептов с гибкой заменой
    <span>
      <%= image_tag 'cut-of-meat', class: 'class', id: 'identifier', style: 'height: 50px' %>
        мясо
    </span>

    <span>
        <%= image_tag 'peanuts', class: 'class', id: 'identifier', style: 'height: 50px' %>
        орехи
    </span>

    <span>
      <%= image_tag 'glass-of-milk', class: 'class', id: 'identifier', style: 'height: 50px' %>
        молоко
    </span> рецептов
</h1>
</div>

<div class="background_main">
  <main>
    <%= image_tag 'plate.png', class: 'class', id: 'identifier', style: 'height: 280px' %>
    <h2>
      Refood — сборник кулинарных рецептов, с гибкой системой замены некоторых ингредиентов, подбирающихся под предпочтения пользователя
    </h2>
  </main>
  
  <footer>
    <h3>
      Узнайте о запуске
      <img src="" alt="">
      сервиса,
      <br>
      подпишитесь
      <img src="" alt="">
      на рассылку
    </h3>
    <%= link_to "About", about_path %>
  </footer>

</div>
