
<%= link_to 'Новый пост', new_post_path, class: 'btn_new-post' %>
 <!-- link_to 'Новая категория', new_category_path, class: 'btn_new-cat' %> %> -->
<h1 class="test">Рецепты</h1>
<!-- <.h2>Все катагории</h2> -->
  <!-- Category.all.each do |cat|  %> -->
  <!-- link_to cat.name, posts_path(category: cat.name) %> <br> %> end %> %> -->
<table class="posts__main">
  <thead>
    <tr>
      <th></th>
      <th>Название</th>
      <th>Категория</th>
      <th>Автор</th>
      <th>Действие</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag(post.image.url, alt: 'Image') if post.image? %> </td>
        <td><%= post.title %></td>
        <td><%= post.category.name %></td>
        <td><%= post.name %></td>
        <td><%= link_to 'Посмотреть', post %> <br>
        <%= link_to 'Редактировать', edit_post_path(post) %><br>
        <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
