<p id="notice"><%= notice %></p>

<h1 class="test">Posts</h1>
<%= link_to 'New Post', new_post_path, class: 'btn_new-post' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.time %></td>
        <td><%= image_tag(post.image.url, alt: 'Image')%></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
