

<div class="btn__back">
<%= link_to 'Back', posts_path %>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
</div>

<p class="show__name">
  <strong class="show__name__pre">Name:</strong>
  <%= @post.name %>
</p>

<p class="show__title">
  <strong class="show__title__pre">Title:</strong>
  <%= @post.title %>
</p>

<%= image_tag(@post.image.url, class: 'show__img', alt: 'Image') if @post.image? %>

<p class="show__time">
	<strong class="show__time__pre">Time:</strong>
	<%= @post.time %>
</p>

<p class="show__ingredients">
  <strong class="show__ingredients_pre">Ingredients:</strong>
  <%= @post.ingredients %>
</p>

<p class="show__content">
  <strong class="show__content__pre">Content:</strong>
  <%= @post.content.html_safe %>
</p>
<p>
  <strong>autor</strong>
  <%= @post.user_id %>

</p>
