

<div class="btn__back">
<%= link_to 'Back', posts_path %>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
</div>

<p class="show__name">
  <strong class="show__name__pre">Name:</strong>
  <%= @post.name %>
</p>

<p class="show__title">
  <strong class="show__title__pre">Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<%= image_tag(@post.image.url, class: 'show__img', alt: 'Image') if @post.image? %>

<p class="show__time">
	<strong class="show__time__pre">Time:</strong>
	<%= @post.time %>
</p>

<p class="show__ingredients">
  <strong class="show__ingredients_pre">Ingredients:</strong>
  <%= @post.ingredients %>
</p>

<p class="show__content">
  <strong class="show__content__pre">Content:</strong>
  <%= @post.content.html_safe %>
</p>
<p>
  <%= @post.tasties.count %> <%= (@post.tasties.count) == 1 ? 'Tasty' : 'Tasties'%>
</p>


<% pre_tasty = @post.tasties.find { |tasty| tasty.user_id == current_user.id} %>
<% if pre_tasty %>
  <%= button_to 'Untasty', post_tasty_path(@post, pre_tasty), method: :delete %>
<% else %>
  <%= button_to 'tasty', post_tasties_path(@post), method: :post %>
<% end %>



<p>
  <%= @post.yummies.count %> <%= (@post.yummies.count) == 1 ? 'Yummy' : 'Yummies'%>
</p>
<% pre_yummy = @post.yummies.find { |yummy| yummy.user_id == current_user.id} %>
<% if pre_yummy %>
  <%= button_to 'Unyummy', post_yummy_path(@post, pre_yummy), method: :delete %>
<% else %>
  <%= button_to 'yummy', post_yummies_path(@post), method: :post %>
<% end %>
