<%= link_to "Blog", posts_path %>

<section class="section__one">
  <header>
    <h1>
      Refood&nbsp;&mdash; это умная
      <span>
        кулинарная книга
      </span>
      , подстраивающая ингредиенты под ваши требования выбора блюд. Это могут быть как идеологические, физиологические или этические
      <span>
         ограничения
      </span>
      , так и&nbsp;<span>
        отсутствие
      </span>
        необходимых продуктов в&nbsp;холодильнике. Сервис поможет вам избавиться от&nbsp;насущных проблем, с&nbsp;которыми вы&nbsp;регулярно сталкиваетесь при подборе рецепты и&nbsp;на&nbsp;этапе приготовления. Теперь вы&nbsp;сможете полностью отдаться процессу
      <span>
         готовки</span>, а&nbsp;мы
      <span>
         сэкономим
      </span>
       ваше время и&nbsp;позаботимся обо всем остальном!
    </h1>
  </header>

  <div class="main">
    <h4>
      Целевая аудитория
    </h4>

    <div class="main__card">
      <div class="main__card__one">
        <h5>Основная</h5>
        <p>Люди, имеющие этические, физиологические или религиозные требования к еде</p>
      </div>
      <div class="main__card__two">
        <h5>Косвенная</h5>
        <p>Люди, которые готовят дома</p>
      </div>
    </div>

  </div>
</section>

<section class="section__two">
  <div class="main__two">
    <h4>Выбранные для реализации фичи</h4>
    <div class="main__two__p">
      <p>Лайк, апвойт/даунвойт, стар, рэйт, сэйв, клэп, репост</p>
      <p>Коллекции (сохранить в коллекцию/доску/плейлист/фотогалерею)</p>
      <p>Поиск, саджест в поиске, поисковая выдача</p>
      <p>Система сортировки/фильтров поисковой выдачи</p>
      <p>Категории и/или теги (одна или много)</p>
      <p>Посты (текст, фото, видео, гибрид)</p>
    </div>
  </div>
  <div class="main__three">
    <h4>Выводы по CusDev</h4>
    <p>По&nbsp;результатам исследования в&nbsp;замене ингредиентов нуждаются не&nbsp;только люди, имеющие этические, физиологические и&nbsp;идиологические требования, но&nbsp;и&nbsp;потребители без ограничений в&nbsp;питании</p>
    <div class="main__three__card_one">
      <span>
        <%= image_tag 'peanut', class: 'img__main__three__card'%>
        орехи
      </span>

      <span>
        <%= image_tag 'pineapple', class: 'img__main__three__card'%>
        ананас
      </span>

      <span>
        <%= image_tag 'cut-of-meat', class: 'img__main__three__card'%>
        мясо
      </span>

      <span>
        <%= image_tag 'onion', class: 'img__main__three__card'%>
        лук
      </span>
    </div>

    <div class="main__three__card_two">
      <span>
        <%= image_tag 'tomato', class: 'img__main__three__card'%>
        помидор
      </span>

      <span>
        <%= image_tag 'mango', class: 'img__main__three__card'%>
        манго
      </span>

      <span>
        <%= image_tag 'glass-of-milk', class: 'img__main__three__card'%>
        молоко
      </span>

      <span>
        <%= image_tag 'mushroom', class: 'img__main__three__card'%>
        грибы
      </span>
    </div>
  </div>
</section>

<section class="section__three">
  <div class="main__four">
    <h4>Индивидуальные предпочтения</h4>
    <p>При регистрации вы&nbsp;указываете ограничения в&nbsp;еде, и&nbsp;рецепты подбираются исходя из&nbsp;вашего рациона питания</p>
    <%= image_tag 'phone', class: 'img__phone'%>
  </div>

</section>
















<!-- // -->
