<!DOCTYPE html>
<html>
  <head>
    <title>Essen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<!-- if notice -->
 <!-- notice  -->
 <!-- end  -->


    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- <link rel="javascript" href="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"> -->




    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/plugins/debug.addIndicators.min.js' %>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>

  </head>

  <body>

    <%= react_component 'O_HeaderMobile' %>
    <!-- <div id="root"></div> -->

    <!-- <div class="top_menu">
      <%= image_tag 'logo-bw', class: 'top_menu__logo'%>
      <% Category.where(display_in_navbar: true).each do |cat| %>
      <%= link_to cat.name, posts_path(category: cat.name) %>
      <% end %>

      <% if user_signed_in? || admin_signed_in? %>
      <%= link_to 'Профиль', edit_user_registration_path || edit_admin_registration_path%><%= link_to 'Выйти', destroy_user_session_path || destroy_admin_session_path, method: :delete %>
      <% else %>
      <%= link_to 'Войти', new_user_session_path || new_admin_session_path %>  <%= link_to 'Зарегистрироваться', new_user_registration_path || new_admin_registration_path %>
      <% end %>
    </div> -->

    <% if notice %>
    <p class="notice"><%= notice %></p>
    <% elsif alert %>
    <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
