<!DOCTYPE html>
<html>
  <head>
    <title>Refood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <% if notice %>
      <%= notice %>
    <% end %>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- <link rel="javascript" href="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"> -->




    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js' %>
  </head>

  <body>
    <% if notice %>
    <p class="notice"><%= notice %></p>
    <% elsif alert %>
    <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
    <div class="top_menu">
      <% Category.where(display_in_navbar: true).each do |cat| %>
      <%= link_to cat.name, posts_path(category: cat.name) %> |
      <% end %>||||||||
    <% if user_signed_in? %>
      <%= link_to 'Профиль', edit_user_registration_path %> | <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Войти', new_user_session_path %> | <%= link_to 'Зарегистрироваться', new_user_registration_path %>
    <% end %>
</div>
  </body>
</html>
